.header{
    background-color: rgb(132, 223, 223);
    
    .header_container{
        max-width: 1200px;
        margin: 0 auto;
        padding: 20px 0;
        display: flex ;
        justify-content: space-between ;
        align-items: center;

        .header_logo{
            font-size: 30px;
            font-weight: 700;
            color: white;
            
      } 
        .navbar{
          display: flex;
          justify-content: center;
          align-items: center;
          gap: 20px;
           .nav__link{
              text-decoration: none;
              color: aliceblue;
              font-size: 12px;
              font-weight: 700;
              text-transform: uppercase;
        }
      }
    }
  }
  
  
  
 